@:font-face {
  font-family: 'Arial';
  src: local('Arial'),
    url('/fonts/arial.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: local('Arial'),
    url('/fonts/ariblk.woff2') format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'Arial';
  src: local('Arial'),
    url('/fonts/ariali.woff2') format("woff2");
  font-weight: italic;
  font-style: italic;
}
