{{ define "main" }}
  <main>
    
    <h2>{{ .Site.Data.portfolio.name }}</h2>
    email: {{ .Site.Data.portfolio.email }} </br>
    github: {{ .Site.Data.portfolio.github }}
     
    <h2>Projects</h2>
     <ul>
        {{ range .Site.Data.portfolio.projects }}
        <li>
            <strong>{{ .name }}</strong>
            <ul>
                <li>{{ .description }}</li>
            </ul>
        </li>
        {{ end }}
    </ul>


    <h2>Work Experience</h2>
    <ul>
        {{ range .Site.Data.portfolio.experience }}
        <li>
            <strong>{{ .position }}</strong> - {{ .company }} ({{ .duration }})
            <ul>
                <li>{{ .description }}</li>
            </ul>
        </li>
        {{ end }}
    </ul>

    <h2>Education</h2>
    <ul>
        {{ range .Site.Data.portfolio.education }}
        <li>
            <strong>{{ .degree }}</strong> - {{ .institution }} ({{ .year }})
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}
